.project-overview-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-overview-image-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-overview-location {
    position: absolute;
    bottom: -30px;
    left: 10%;
    color: black;
    width: 80%;

  }

  .project-overview-spacer{
    height: 2vw;
  }

  .project-overview-description{
    width: 80%;
  }