.app-bar{
    display: flex;
    background-color: #e5e5e5;
    color: hsl(205, 11%, 22%);
    height: 120px;
    justify-content: left;
    align-items: center;
    position: static;
    width: 100%;
    position: sticky;
    z-index: 100;
}

.title-box{
    justify-content: left;
    height: 100%;
}

.name{
    font-size: 20px;
}

.nav-items{
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    font-size: 18px;
    min-width: 450px;
    max-width: 500px;
  
}


.nav-item{
    color: inherit;
    text-decoration: none;
}

.down-arrow{
    vertical-align: middle;
    top: 0px;
}

.nav-item:hover{  
    cursor: pointer;
    color: hsla(202, 8%, 26%, 0.692);
}

.dropdown-arrow{
    font-size: 12px;
}

.nav-divider{
    margin-right: 10px;
    margin-left: 10px;
}

.hamburger-container{
    display: flex;
    justify-content: end;
    align-items: center;
}

.hamburger{
    font-size: 40px;
    color: hsl(205, 11%, 22%);
}

.accordion-summary{
    margin-top: 0;
    margin-bottom: 0;
 
}

.drawer-text{
    font-size: large;
}

.drawer-item{
    width: 100%;
    color: inherit;
    text-decoration: none;
}

.drawer-item-narrow{
    color: inherit;
    text-decoration: none;
}