.square-descriptor-text{
    display: flex;
    flex-direction: column;
    justify-items: end;
    /* align-items: end; */
    justify-content: end;
    min-height: 100%;
}

.square-text-desc p {
    white-space: pre-wrap; 
}